.gtg-demo-card {
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.25);
  margin-bottom: 45px !important;

  .card-content {
    p {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}